.j-nev{
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
}

.kov{
    max-width: 300px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bold;
    color: green;
    font-size: large;
    text-align: center;
    margin-bottom: 5px;
}

p{
    display: inline;
}

.mezo{
    margin: auto;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

.jatek-cont{
    max-width: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}